@use "variables.scss" as var;
@use "mixins.scss";

body {
  margin: 0;
  background-color: var.$secondary-color;
  color: var.$text-color;
}

header {
  background-color: var.$primary-color;
  color: var.$text-color;
  @include mixins.center;

}
section {
  @include mixins.center;

  
}
article {
  padding: 1rem;
  margin: 1rem
}

img {
@include mixins.images;
margin: 1rem
}

footer {
  @include mixins.center;
  background-color: var.$primary-color;
  color: var.$text-color;
}