div {
    border: 2px solid green;
    width: 400px;
    height: 300px;
    position: relative;
  
}
img {
   width: 100%;
}

.image-box {
    width: 300px;
    height: 200px;
    position: relative;  
    margin: 0 auto;
    border: 1px solid red;
}